@import 'tailwindcss';
@import 'tw-animate-css';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@custom-variant dark (&:is(.dark *));

* {
  @apply transition-transform ease-in-out duration-300;
}

:root {
  --background: hsl(240 20% 99.01960784313727%);
  --foreground: hsl(210 12.5% 12.549019607843137%);
  --card: hsl(240 19.999999999999943% 98.0392156862745%);
  --card-foreground: hsl(210 12.5% 12.549019607843137%);
  --popover: hsl(240 20% 99.01960784313727%);
  --popover-foreground: hsl(210 12.5% 12.549019607843137%);
  --primary: hsl(36.52173913043478 19.65811965811966% 45.88235294117647%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 19.999999999999943% 98.0392156862745%);
  --secondary-foreground: hsl(220 5.88235294117647% 40%);
  --muted: hsl(240 19.999999999999943% 98.0392156862745%);
  --muted-foreground: hsl(220 5.88235294117647% 40%);
  --accent: hsl(102.85714285714283 2.766798418972339% 50.3921568627451%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(10.10869565217391 73.01587301587303% 50.588235294117645%);
  --destructive-foreground: hsl(
    7.868852459016397 49.59349593495935% 24.11764705882353%
  );
  --border: hsl(240 10.144927536231888% 86.47058823529412%);
  --input: hsl(240 10.144927536231888% 86.47058823529412%);
  --ring: hsl(240 10.144927536231888% 86.47058823529412%);
  --chart-1: hsl(102.85714285714283 2.766798418972339% 50.3921568627451%);
  --chart-2: hsl(110.00000000000003 3.0612244897959147% 38.431372549019606%);
  --chart-3: hsl(102.85714285714293 3.004291845493564% 54.313725490196084%);
  --chart-4: hsl(105.00000000000011 2.898550724637692% 72.94117647058825%);
  --chart-5: hsl(120 3.8961038961038836% 84.90196078431373%);
  --sidebar: oklch(0.9881 0 0);
  --sidebar-foreground: oklch(0.2645 0 0);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9761 0 0);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --tracking-normal: 0em;
  --base-1: hsl(240 20% 99.01960784313727%);
  --base-2: hsl(240 19.999999999999943% 98.0392156862745%);
  --base-3: hsl(240 11.111111111111065% 94.70588235294117%);
  --base-4: hsl(240 9.52380952380956% 91.76470588235294%);
  --base-5: hsl(230.00000000000003 10.714285714285722% 89.01960784313725%);
  --base-6: hsl(240 10.144927536231888% 86.47058823529412%);
  --base-7: hsl(233.33333333333337 9.89010989010989% 82.15686274509804%);
  --base-8: hsl(230.7692307692308 10.23622047244095% 75.09803921568627%);
  --base-9: hsl(230.76923076923066 5.936073059360735% 57.05882352941176%);
  --base-10: hsl(226.1538461538462 5.394190871369299% 52.74509803921569%);
  --base-11: hsl(220 5.88235294117647% 40%);
  --base-12: hsl(210 12.5% 12.549019607843137%);
  --accent-1: hsl(120 20% 99.01960784313727%);
  --accent-2: hsl(120 16.666666666666625% 97.6470588235294%);
  --accent-3: hsl(120 6.666666666666641% 94.11764705882352%);
  --accent-4: hsl(120 4.347826086956503% 90.98039215686275%);
  --accent-5: hsl(120 4.918032786885227% 88.0392156862745%);
  --accent-6: hsl(120 3.8961038961038836% 84.90196078431373%);
  --accent-7: hsl(120 3.03030303030302% 80.58823529411765%);
  --accent-8: hsl(105.00000000000011 2.898550724637692% 72.94117647058825%);
  --accent-9: hsl(102.85714285714293 3.004291845493564% 54.313725490196084%);
  --accent-10: hsl(102.85714285714283 2.766798418972339% 50.3921568627451%);
  --accent-11: hsl(110.00000000000003 3.0612244897959147% 38.431372549019606%);
  --accent-12: hsl(108 8.196721311475414% 11.96078431372549%);
}

.dark {
  --background: hsl(240 5.555555555555555% 7.0588235294117645%);
  --foreground: hsl(220 9.09090909090906% 93.52941176470588%);
  --card: hsl(220 5.88235294117647% 10%);
  --card-foreground: hsl(220 9.09090909090906% 93.52941176470588%);
  --popover: hsl(240 5.555555555555555% 7.0588235294117645%);
  --popover-foreground: hsl(220 9.09090909090906% 93.52941176470588%);
  --primary: hsl(36.25000000000001 20.689655172413783% 54.509803921568626%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(220 5.88235294117647% 10%);
  --secondary-foreground: hsl(
    215.9999999999999 6.756756756756753% 70.98039215686273%
  );
  --muted: hsl(220 5.88235294117647% 10%);
  --muted-foreground: hsl(
    215.9999999999999 6.756756756756753% 70.98039215686273%
  );
  --accent: hsl(106.6666666666666 3.734439834024895% 47.25490196078431%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(10.94117647058823 81.73076923076924% 59.21568627450981%);
  --destructive-foreground: hsl(10 85.71428571428571% 89.01960784313725%);
  --border: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --input: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --ring: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --chart-1: hsl(106.6666666666666 3.734439834024895% 47.25490196078431%);
  --chart-2: hsl(105.00000000000006 5.1282051282051295% 69.41176470588235%);
  --chart-3: hsl(108.00000000000003 4.672897196261679% 41.96078431372549%);
  --chart-4: hsl(111.42857142857146 3.7037037037037055% 37.05882352941177%);
  --chart-5: hsl(90 3.571428571428571% 21.96078431372549%);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.4882 0.2172 264.3763);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.8711 0.0055 286.286);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --base-1: hsl(240 5.555555555555555% 7.0588235294117645%);
  --base-2: hsl(220 5.88235294117647% 10%);
  --base-3: hsl(225.00000000000006 5.7142857142857135% 13.725490196078432%);
  --base-4: hsl(210.00000000000003 7.1428571428571415% 16.47058823529412%);
  --base-5: hsl(214.28571428571428 7.0707070707070745% 19.411764705882355%);
  --base-6: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --base-7: hsl(212.72727272727275 7.586206896551727% 28.431372549019606%);
  --base-8: hsl(212.00000000000003 7.692307692307687% 38.23529411764706%);
  --base-9: hsl(218.57142857142856 6.250000000000003% 43.92156862745098%);
  --base-10: hsl(221.53846153846155 5.1792828685259% 49.21568627450981%);
  --base-11: hsl(215.9999999999999 6.756756756756753% 70.98039215686273%);
  --base-12: hsl(220 9.09090909090906% 93.52941176470588%);
  --accent-1: hsl(90 5.88235294117647% 6.666666666666667%);
  --accent-2: hsl(90 4.166666666666666% 9.411764705882353%);
  --accent-3: hsl(89.99999999999989 3.0303030303030307% 12.941176470588234%);
  --accent-4: hsl(100.00000000000004 3.7037037037036993% 15.88235294117647%);
  --accent-5: hsl(99.99999999999996 3.157894736842109% 18.627450980392158%);
  --accent-6: hsl(90 3.571428571428571% 21.96078431372549%);
  --accent-7: hsl(96.00000000000007 3.5971223021582706% 27.254901960784316%);
  --accent-8: hsl(111.42857142857146 3.7037037037037055% 37.05882352941177%);
  --accent-9: hsl(108.00000000000003 4.672897196261679% 41.96078431372549%);
  --accent-10: hsl(106.6666666666666 3.734439834024895% 47.25490196078431%);
  --accent-11: hsl(105.00000000000006 5.1282051282051295% 69.41176470588235%);
  --accent-12: hsl(120 5.555555555555538% 92.94117647058823%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-accent-12: var(--accent-12);
  --color-accent-11: var(--accent-11);
  --color-accent-10: var(--accent-10);
  --color-accent-9: var(--accent-9);
  --color-accent-8: var(--accent-8);
  --color-accent-7: var(--accent-7);
  --color-accent-6: var(--accent-6);
  --color-accent-5: var(--accent-5);
  --color-accent-4: var(--accent-4);
  --color-accent-3: var(--accent-3);
  --color-accent-2: var(--accent-2);
  --color-accent-1: var(--accent-1);
  --color-base-12: var(--base-12);
  --color-base-11: var(--base-11);
  --color-base-10: var(--base-10);
  --color-base-9: var(--base-9);
  --color-base-8: var(--base-8);
  --color-base-7: var(--base-7);
  --color-base-6: var(--base-6);
  --color-base-5: var(--base-5);
  --color-base-4: var(--base-4);
  --color-base-3: var(--base-3);
  --color-base-2: var(--base-2);
  --color-base-1: var(--base-1);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;q
  }
} */

body {
  margin: 0;
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  /* font-display: "Poppins" ; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.2046 0 0);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.4386 0 0);
  --primary: oklch(0.8348 0.1302 160.9080);
  --primary-foreground: oklch(0.2626 0.0147 166.4589);
  --secondary: oklch(0.9940 0 0);
  --secondary-foreground: oklch(0.2046 0 0);
  --muted: oklch(0.9461 0 0);
  --muted-foreground: oklch(0.2435 0 0);
  --accent: oklch(0.9461 0 0);
  --accent-foreground: oklch(0.2435 0 0);
  --destructive: oklch(0.5523 0.1927 32.7272);
  --destructive-foreground: oklch(0.9934 0.0032 17.2118);
  --border: oklch(0.9037 0 0);
  --input: oklch(0.9731 0 0);
  --ring: oklch(0.8348 0.1302 160.9080);
  --chart-1: oklch(0.8348 0.1302 160.9080);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.7686 0.1647 70.0804);
  --chart-5: oklch(0.6959 0.1491 162.4796);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0.5452 0 0);
  --sidebar-primary: oklch(0.8348 0.1302 160.9080);
  --sidebar-primary-foreground: oklch(0.2626 0.0147 166.4589);
  --sidebar-accent: oklch(0.9461 0 0);
  --sidebar-accent-foreground: oklch(0.2435 0 0);
  --sidebar-border: oklch(0.9037 0 0);
  --sidebar-ring: oklch(0.8348 0.1302 160.9080);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2603 0 0);
  --popover-foreground: oklch(0.7348 0 0);
  --primary: oklch(0.4365 0.1044 156.7556);
  --primary-foreground: oklch(0.9213 0.0135 167.1556);
  --secondary: oklch(0.2603 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7122 0 0);
  --accent: oklch(0.3132 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3123 0.0852 29.7877);
  --destructive-foreground: oklch(0.9368 0.0045 34.3092);
  --border: oklch(0.2809 0 0);
  --input: oklch(0.2603 0 0);
  --ring: oklch(0.8003 0.1821 151.7110);
  --chart-1: oklch(0.8003 0.1821 151.7110);
  --chart-2: oklch(0.7137 0.1434 254.6240);
  --chart-3: oklch(0.7090 0.1592 293.5412);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7845 0.1325 181.9120);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(0.6301 0 0);
  --sidebar-primary: oklch(0.4365 0.1044 156.7556);
  --sidebar-primary-foreground: oklch(0.9213 0.0135 167.1556);
  --sidebar-accent: oklch(0.3132 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2809 0 0);
  --sidebar-ring: oklch(0.8003 0.1821 151.7110);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
